<link rel="stylesheet" type="text/css" href="index.css"/>

<style>

h1 {
text-align: center;
color: black;
font-size: 100px;
letter-spacing: 3px;
font-family: monospace; "Monaco"
}

ul {
list-style-type: none;
display: inline;
margin: 0;
padding: 0;
overflow: hidden;
}

li a {
float: left;
display: block;
font-size: 25px;
color: black;
text-align: center;
padding: 10px 20px;
text-decoration: none;
font-family: monospace; "Monaco"
}

li a:hover {

}

</style>
