
@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');


body {
  background-color: rgb(253, 247, 241);
}


h1 {
  font-size: 50px;
  text-align: center;
  padding: 10px;
  color: black;
  letter-spacing: 4px;
  font-family: 'Lusitana', serif;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  text-decoration: none;
  width:100px;
  display: block;
  padding: 30px 70px;
  color: black;
  font-size: 30px;
  text-align: center;
    font-family: 'Lusitana', serif;
}

.profile {
  height: 200px;
  width: 50px;
  background-color: black;
}
